.character {
  position: relative;
  min-height: 700px;

  figure {
    height: 520px;
    overflow: hidden;
    position: relative;
  
    img {
      width: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      min-width: 250px;
    }
  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .content {
      color: #000;
      margin-top: 160px;
      background: #cccccc8f;
      padding: 23px;

      h2 {
        font-size: 44px;
        line-height: 1;
        text-transform: uppercase;
        -webkit-transition: font-size .2s ease;
        transition: font-size .2s ease;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        letter-spacing: .5px;
      }
    }
  }
}
